@use "../sass/abstracts/index" as *;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Epilogue:wght@500;700&family=Overpass:wght@400;700&display=swap");

html {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

p {
    color: $medium-gray;
}

li {
    list-style: none;
}

body {
    font-family: "Epilogue", sans-serif;
    background-color: $almost-white;
}

.container {
    position: relative;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 95;
    height: 100%;
}
