@use "../abstracts/colors" as *;

$bp-mobile-hero: 820px;

.hero {
    margin-top: 80px;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;

    @media screen and (min-width: $bp-mobile-hero) {
        margin-top: 100px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 80vh;
        max-width: 1440px;
    }
}

.hero__img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

    .image-mobile {
        display: block;
        width: 100%;
        height: 100%;

        @media screen and (min-width: $bp-mobile-hero) {
            display: none;
        }
    }

    .image-desktop {
        display: none;

        @media screen and (min-width: $bp-mobile-hero) {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: contain;
            min-height: 400px;
            min-width: 400px;
        }
    }

    @media screen and (min-width: $bp-mobile-hero) {
        width: 40%;
        min-height: 400px;
        min-width: 400px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.hero__text {
    padding: 25px;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media screen and (min-width: $bp-mobile-hero) {
        width: 60%;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.hero__title {
    font-size: 1.89rem;
    font-weight: 700;
    color: $almost-black;

    @media screen and (min-width: $bp-mobile-hero) {
        font-size: 4rem;
        text-align: start;
        padding-right: 3vw;
    }
}

.hero__subtitle {
    line-height: 1.2rem;
    font-size: 0.85rem;
    font-weight: 500;
    color: $medium-gray;
    text-align: center;

    @media screen and (min-width: $bp-mobile-hero) {
        width: 75%;
        font-size: 1rem;
        text-align: start;
    }
}

.hero__btn {
    position: relative;
    background-color: $almost-black;
    color: $almost-white;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 1em 1.5em;
    border-radius: 15px;
    cursor: pointer;

    @media screen and (min-width: $bp-mobile-hero) {
        margin-top: 1rem;
        z-index: 999;
    }
}

.hero__sponsor-container {
    padding: 20px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;

    img {
        width: 100%;
        flex: 1 1 25%;
    }

    @media screen and (min-width: $bp-mobile-hero) {
        margin-top: 1rem;
        gap: 2vw;
    }
}
