.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.header__logo{
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.header__hamburger{
    cursor: pointer;
}

.header__nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
}